body {
    background: #f8f8f8;
}
.title {
    color: green;
    font-family: Saab, serif;
    font-size: 18px;
    text-align: center;

}
.menu {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu_list  {
    margin-right: 20px;
    height: 100%;
    text-decoration: none;
}
.menu_link_style {
    color: #464646;
    font-family: Arial,sans-serif;
    white-space: nowrap;
}
.text {

}
.inputUp {
    text-transform: capitalize;
}